# This is a basic workflow to help you get started with Actions

name: CI-Coverage-Manual

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
 push:
   branches: '*'
 pull_request:
   branches: '*'
   
 # Allows you to run this workflow manually from the Actions tab
 workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          
      - name: Codecov
        # You may pin to the exact commit or the version.
        # uses: codecov/codecov-action@239febf655bba88b16ff5dea1d3135ea8663a1f9
        uses: codecov/codecov-action@v1.0.15
        with:
          # User defined upload name. Visible in Codecov UI
          name: Automated Github Upload
          # Repository upload token - get it from codecov.io. Required only for private repositories
          token: 8e4ab1e4-c15e-4eb8-8319-60f50827111a
          files: TourTrek/app/build/reports/coverage/debug/*
